RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index/?$ index.html [L]
RewriteRule ^shop/?$ shop.html [L]
RewriteRule ^categories/?$ categories.html [L]
RewriteRule ^new-arrivals/?$ new-arrivals.html [L]
RewriteRule ^sale/?$ sale.html [L]
RewriteRule ^cart/?$ cart.html [L]
RewriteRule ^cart-products/?$ cart-products.html [L]
RewriteRule ^cart-login/?$ cart-login.html [L]
RewriteRule ^profile/?$ profile.html [L]
RewriteRule ^admin/?$ admin.html [L]
RewriteRule ^order-success/?$ order-success.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html
